.categoryLink {
  text-decoration: none;
}

.categoryCard {
  background-color: #f8f5f2;
  border: 0.1rem solid #d3c7b1;
  border-radius: 0.8rem;
  padding: 2rem;
  transition: all 0.3s ease;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
}

.categoryCard:hover {
  transform: scale(1.05);
  background-color: #f4efe4;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
}

.categoryName {
  color: #6e6356;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
}

.viewMore {
  font-size: 1.4rem;
  color: #8a7a65;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.categoryCard:hover .viewMore {
  opacity: 1;
}

@media (max-width: 76.8rem) {
  .categoryCard {
    padding: 1.5rem;
  }

  .categoryName {
    font-size: 1.6rem;
  }
}
